.section-leaderboard{
    .section-heading{
        font-size: 28px;
        font-family: 'SF-Pro-Rouded Bold';
        color: $white-color;
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
    }
    .leaderboard-content{
        .top{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
            @include mw-500 {
                justify-content: center;
            }
            .form-action{
                display:flex;
                align-items: center;
                gap: 12px;
                button{
                    border: none;
                    color: #fff;
                    font-size: 16px;
                    font-family: "SF-Pro-Rouded Medium";
                    border-radius: 8px;
                    padding: 12px;
                    background: #44365A;
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09);
                    width: 140px;
                    &:hover{
                        background-image: linear-gradient(99.58deg, #8B7EFF 0%, #D749ED 0.01%, #FD8F5A 98.98%);
                    }
                }
                button.active{
                    background-image: linear-gradient(99.58deg, #8B7EFF 0%, #D749ED 0.01%, #FD8F5A 98.98%);   
                }
            }
            .info{
                position: relative;
                .boxed{
                    width: 42px;
                    height: 42px;
                    display: inline-block;
                    background: rgba(105, 214, 207, 0.17);
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09);
                    backdrop-filter: blur(6px);
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                &:hover{
                    filter: brightness(1.4);
                }
                }
                .sub{
                    padding: 15px;
                    width: 260px;
                    position: absolute;
                    right: 57px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    visibility: hidden;
                    &::before{
                        content: "";
                        position: absolute;
                        right: -28px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 0;
                        height: 0;
                        border-left: 15px solid #44365A;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                        border-top: 15px solid transparent;
                        background-color: transparent;
                    }
                }
                &:hover{
                    .sub{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .body{
            .desc{
                background: linear-gradient(180deg, rgba(139, 126, 255, 0.17) 0%, rgba(67, 53, 227, 0) 100%);
                backdrop-filter: blur(6px);
                border-radius: 8px;
                padding: 20px;
                color: $white-color;
                font-size: 16px;
                font-family: 'SF-Pro-Rouded Medium';
                max-width: 523px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 44px;
                text-align: center;
                box-shadow: inset 0px 1px 2px 0px #675DC7;
                @include mw-768 {
                    font-size: 14px;
                    font-family: "SF-Pro-Rouded Light";
                }
            }
            .ranking{
                margin-top: 50px;
                display: flex;
                justify-content: center;
                gap: 50px;
                @include mw-768 {
                    margin-top: 20px;
                    gap: 20px;
                    margin-bottom: 150px;
                }
                @include mw-500 {
                    margin-bottom: 115px;
                }
                .item{
                    position: relative;
                    width: 268px;
                    height: 595px;
                    @include mw-768{
                        height: 280px;
                    }
                    & > img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                    .info{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        justify-content: center;
                        align-items: center;
                        bottom: 108px;
                        left: 50%;
                        transform: translateX(-50%) scale(1.2);
                        width: 150px;
                        @include mw-768 {
                            width: auto;
                            bottom: -80px;
                        }
                        @include mw-500 {
                            bottom: -50px;
                        }
                        .top{
                            position: relative;
                            img{
                                max-width: 110px;
                                object-fit: contain;
                                @include mw-768 {
                                    max-width: 80px;
                                }
                            }
                            span{
                                position: absolute;
                                left: 40px;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 16px;
                                font-family: 'SF-Pro-Rouded Semibold';
                                color: $white-color;
                                @include mw-768 {
                                    left: 28px;
                                    font-size: 12px;
                                }
                            }
                        }
                        .bottom{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 8px;
                            @include mw-768 {
                                flex-wrap: wrap;
                                justify-content: center;
                            }
                            .boxed{
                                background-image: $linear-primary;
                                border-radius: 100rem;
                                width: 40px;
                                height: 40px;
                                padding: 1px;
                                display: inline-block;
                                @include mw-768{
                                    width: 30px;
                                    height: 30px;

                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 100rem;
                                }
                            }
                            .name{
                                @include mw-768 {
                                    display:flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                h3{
                                    color: #69D6CF;
                                    font-size: 15px;
                                    font-family: 'SF-Pro-Rouded Bold';  
                                    line-height: 1;
                                    display:-webkit-box;
                                    -webkit-line-clamp:1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    word-break: break-word;
                                    @include mw-768 {
                                        font-size: 12px;
                                    }
                                }
                                span{
                                    color: $white-color;
                                    opacity: 0.5;
                                    font-size: 12px;
                                    @include mw-768 {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .item.top1{
                    .info{
                        bottom:102px;
                        gap: 15px;
                        transform: translateX(-50%) scale(1.3);
                        @include mw-768 {
                        bottom:-92px;
                        }
                        @include mw-500 {
                            bottom: -60px;
                        }
                    }
                }
            }
            .count-down{
                position: relative;
                width: fit-content;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                padding-top: 30px;
                .timer-img{
                    width: 55px;
                    height: 55px;
                    position: absolute;
                    object-fit: contain;
                    margin-left: auto;
                    margin-right: auto;
                    top: -27px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .timeline{
                    color: $white-color;
                    font-size: 14px;
                    font-family: 'SF-Pro-Rouded Semibold';
                    text-align: center;
                }
                .content{
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 10px;
                    text-align: center;
                    div{
                        color: $white-color;
                        font-size: 16px;
                        font-family: 'SF-Pro-Rouded Bold';
                    }
                }
            }
        }
    }
}
.table-content{
    margin-top: 50px;
    table {
        font-family: arial, sans-serif;
        // border-collapse: collapse;
        width: 100%;
        border-collapse:separate; 
        border-spacing: 0 8px;
        .head{
            th{
                text-align: center;
                @include mw-768 {
                    font-size: 14px;
                }
            }
            th:nth-child(1){
                border-radius: 8px 0 0 8px;
                text-align: left;
                padding-left: 28px;
            }
            th:nth-child(4){
                text-align: right;
                border-radius: 0 8px 8px 0;
                padding-right: 30px;
            }
        }
        tr{
            border-radius: 8px;
            td{
                text-align: center;
                font-size: 16px;
                font-family: 'SF-Pro-Rouded Medium';
                @include mw-768 {
                    font-size: 14px;
                }
                @include mw-500 {
                    font-size: 12px;
                }
                span{
                    display: block;
                    width: 78px;
                    padding: 0.5rem 1rem;
                    background-color: #675DC7;
                    color: $white-color;
                    font-family: 'SF-Pro-Rouded Medium';
                    text-align: center;
                    border-radius: 6px;
                    @include mw-768 {
                        width: 60px;
                    }
                }
            }
            td:nth-child(1) {
                border-radius: 8px 0 0 8px;
                text-align: left;
            }
            td:nth-child(4) {
                border-radius: 0 8px 8px 0;
                text-align: right;
                padding-right: 30px;
                @include mw-768 {
                    padding-right: 8px;
                }
            }
            .name{
                color: $primary_color;
            }
            .points{
                color: $green_color;
            }
            .prize{
                color: $white-color;
            }
        }
        .style1{
            td{
                span{
                    background-color: #574D97;
                }
            }
        }
        .style2{
            td{
                span{
                    background-color: #718D67;
                }
            }
        }
        .style3{
            td{
                span{
                    background-color: #924D58;
                }
            }
        }
        .style4{
            td{
                span{
                    background-color: #925933;
                }
            }
        }
      }
      
      td, th {
        // border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        
      }
}
.pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 20px;
        @include mw-991{
            gap: 8px;
        }
     
      .pages {
        display: flex;
        flex-direction: row;
        gap: 20px;
        @include mw-991{
            gap: 8px;
        }   
      }
      .page {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        cursor: pointer;
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 2px solid $primary_color;
      }
      .page:hover {
        background-color: $primary_color;
        color: #000;
      }
      .active {
        background-color: $primary_color;
        color: #000;
      }
   }
   .user-guide{
    position: relative;
    .boxed{
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
        background-image: linear-gradient(99.58deg, #8B7EFF 0%, #D749ED 0.01%, #FD8F5A 98.98%);
        border-radius: 100rem;
        z-index: 2;
        box-shadow: 0 0 0px 2px #544b9e;
        img{
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: relative;
            top: 1px;
            left: 1px;
        }
    }
    .desc{
    }
   }