.container-fluid{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;

}
.notify{
padding: 10px 0 0 0;
background-color: rgba(48, 37, 66, 0.27);
}
.marquee {
  padding: 10px;
  height: 60px;
  width: 100%;
  overflow: hidden;
  position: relative;
  }
  
  .marquee .wrap {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: fit-content;
    position: absolute;
    overflow: hidden;
    animation: marquee 30s linear infinite;
    justify-content: center;
    align-items: center;
    will-change: transform;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      animation-play-state: paused;
    }
  }
  
  .marquee .card {
    float: left;
    width: 240px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 5px;
    border-radius: 30px;
    border: 1px solid rgba(75, 51, 92, 1);
    margin: 5px 10px;
    background-color: rgba(75, 51, 92, 0.5);
    .avatar{
      overflow: hidden;
      flex-basis: 60%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      position: relative;
      gap: 10px;
      .boxed{
        padding: 1px;
        width: 50px;
        height: 50px;
        border-radius: 100rem;
        position: relative;
        background: $linear-primary;
        img{
          width: 100%;
          height: 100%;
          border-radius: 100rem;
          object-fit: cover;
        }
      }
      .info{
        font-size: 16px;
        p{
          font-family: "SF-Pro-Rouded Medium";
          color: #8B888F;
        }
        .player{
          font-family: "SF-Pro-Rouded Bold";
          color: $primary_color;
        }
      }
    }
    .money{
      flex-basis: 30%;
      height: 34px;
      max-width: 38%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px;
      border-radius: 100rem;
      background: $linear-primary;
      position: relative;
      span{
        width: 100%;
        height: 100%;
        border-radius: 100rem;
        margin: 0;
        color: #fff;
        font-size: 16px;
        padding: 1px;
        background: rgba(20, 1, 34, 1);
        background-image: url(../../../images/header/stars.png);
        background-position: 252% 62%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: auto;
      }
    }
  }
  
  @keyframes marquee {
    to{
      transform: translate(-50%, -50%);
    }
  }
  .notify_child {
    padding: 15px 0;
    color: $white-color;
    position: relative;
  }
 
  .close{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    @include mw-1320{
      right: 0;
    }
  }