.section-visit{
    .wrapper{
        padding: 50px;
        background: rgba(48, 37, 66, 0.37);
        border-radius: 40px;
        position: relative;
        box-shadow: inset 1px 2px 2px 1px rgb(49 39 62);
        &::before{
            content: '';
            position: absolute;
            background: url(/images/visit/planet.svg) no-repeat;
            background-size: contain;
            top: -55px;
            left: -65px;
            width: 149px;
            height: 135px;
            @include mw-500 {
                width: 110px;
                top: -35px;
                left: -40px;
            }

        }
        &::after{
            content: '';
            position: absolute;
            background: url(/images/visit/space.svg) no-repeat;
            background-size: contain;
            top: -75px;
            right: -70px;
            width: 237px;
            height: 247px;
            @include mw-500 {
                width: 135px;
                top: -30px;
                right: -12px;
            }
        }
        .section-heading{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background: url(/images/why/star-left.svg) no-repeat;
                top: 0;
                left: 0;
                width: 120px;
                height: 120px;
            }
            &::after{
                content: '';
                position: absolute;
                background: url(/images/why/star-right.svg) no-repeat;
                top: 0;
                right: -20px;
                width: 120px;
                height: 120px;
            }
        }
        .content{
            position: relative;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            .coins{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            .abs{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                .bg-blur{
                    position: relative;
                    backdrop-filter: blur(2px);
                }
                span{
                    font-size: 64px;
                    font-family: 'SF-Pro-Rouded Bold';
                    text-align: center;
                    text-transform: uppercase;
                    background: linear-gradient(182deg, #FFEF8A 26.58%, #FF8A00 50.2%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.09);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    @include mw-768{
                        font-size: 50px;
                    }
                    @include mw-500 {
                        font-size: 36px;
                    }
                }
            }
            .sub{
                position: absolute;
                text-align: center;
                font-size: 20px;
                color: $white-color;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include mw-768{
                    font-size: 16px;
                }
                @include mw-500 {
                    font-size: 12px;
                }
            }
        }
        .decor-bl{
            position: absolute;
            width: 150px;
            height: 150px;
            bottom: -60px;
            left: -45px;
            @include mw-500 {
                width: 110px;
                height: 110px;
            }
        }
        .decor-br{
            position: absolute;
            width: 100px;
            height: 100px;
            bottom: -40px;
            right: -30px;
            @include mw-500{
                width: 70px;
                height: 70px;
            }
        }
        .btn{
            display: inline-flex;
            img{
                
            }
        }
    }
}