.section-what{
    background: url(/images/what/bg.svg) no-repeat center / cover;
	position: relative;
	&::before{
		content:'';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 1px;
		background-image: radial-gradient(#6b607c 0%, transparent 35%);
	}
	&::after{
		content:'';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 1px;
		background-image: radial-gradient(#6b607c 0%, transparent 35%);
	}
}
.swiper-container {
	-webkit-tap-highlight-color: transparent;
	.swiper-wrapper{
		margin: 0 40px;
	}
}

.swiper-slide {
	height: auto;
}

.m-slider {
	overflow: hidden;
	margin: 0 auto;
	padding: 30px;
	.m-slider__item {
		display: flex;
		flex: 0 0 auto;
		width: 100%;
	}
}

.m-card {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 100%;
	border-radius: 3px;
	transition-duration: .3s;
	transition-property: box-shadow;

	.m-card__header {
		padding-top: 75%;
		height: 0;
		background-position: center;
		background-size: cover;
	}

	.m-card__body {
		margin-top: 15px;
		color: $white-color;
		max-width: 290px;
		.title{
  		font-family: 'SF-Pro-Rouded Bold';
		display:-webkit-box;
		-webkit-line-clamp:1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
		margin-bottom: 10px;
		}
		.desc{
			font-size: 13px;
			margin-bottom: 10px;
		}
	}
	.m-card__footer{
		font-size: 12px;
		font-family: 'SF-Pro-Rouded Semibold';
		
	}

	&:active {
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
}

.slider {
	margin: 0 -30px;
}

.cards {
	margin-top: 30px;

	.cards__note {
		margin-top: 30px;
	}

	.cards__body {
		margin-top: 30px;

		@media screen and (min-width: 768px) {
			display: flex;
		}
	}

	.cards__item {
		display: flex;
		flex: 0 1 auto;
		margin-top: 30px;
		width: 100%;

		@media screen and (min-width: 768px) {
			margin-top: 0;
		}
	}

	.cards__item:not(:last-of-type) {
		@media screen and (min-width: 768px) {
			margin-right: 30px;
		}
	}
}
.excellent{
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
	.scale{
		transform: scale(1.3);
		width: 100%;
	}
	.title{
		color: $white-color;
		a{
			text-decoration: underline;
		}
	}
	.trustpilot{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
