.why{
    .section-heading{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background: url(/images/why/star-left.svg) no-repeat;
        
            top: 0;
            left: 0;
            width: 120px;
            height: 120px;
        }
        &::after{
            content: '';
            position: absolute;
            background: url(/images/why/star-right.svg) no-repeat;
        
            top: 0;
            right: -20px;
            width: 120px;
            height: 120px;
        }
    }
    .section-content{
        .wrapper{
            display:flex;
            justify-content: center;
            align-items: center;
            .item{
                background: rgba(48, 37, 66, 0.37);
                backdrop-filter: blur(4px);
                border-radius: 40px;
                box-shadow: inset 1px 2px 2px 1px rgb(49 39 62);
                img{
                    width: 149px;
                    height: 149px;
                    flex-shrink: 0;
                }
            }
        }
        .two{
            gap: 40px;
            margin-bottom: 40px;
            flex-wrap: wrap;
            .item{
                padding: 20px;
                flex-basis: 50%;
                max-width: 526px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 30px;
                @include mw-768 {
                    flex-basis: 100%;
                }
                p{
                    flex-grow: 1;
                    min-height: 60px;
                    display:-webkit-box;
                    -webkit-line-clamp:2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;
                    color: $white-color;
                    font-size: 20px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: c;
                }
            }
            .item:last-child{
                img{
                    position: relative;
                    top: 8px;
                }
            }
        }
        .four{
            gap: 40px;
            flex-wrap: wrap;
            .item{
                padding: 20px;
                flex-basis: 25%;
                width: 243px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include mw-991 {
                    flex-basis: 50%;
                }
                @include mw-500 {
                    flex-basis:100%;
                }
                img{
                    margin-bottom: 20px;
                }
                .desc{
                    font-size: 20px;
                    color: $white-color;
                }
            }
        }
    }
}