<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>loader.css">
    <title>Đại lý SuperTrade</title>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Đại lý SuperTrade">
    <meta property="og:title" content="Đại lý SuperTrade Exchange">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    <div id="app">
    </div>
  </body>
</html>
